<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="conn"
          connectionString="Data Source=\\\\172.30.184.28\psd\Common\Auto Testing\Auto Tools\CrashesTool_v1.2\Sql\2021CrashesData.sqlite"
          providerName="SQLite" />
  </connectionStrings>
</configuration>